Xft.dpi:                        96
URxvt*termName:                 rxvt-256color
URxvt*font:                     xft:Menlo:pixelsize=14,xft:Inconsolata\ for\ Powerline:pixelsize=14
URxvt.depth:                    32
URxvt*lineSpace:                1
URxvt.letterSpace:              -1
URxvt.iso14755:                 false
URxvt.iso14755_52:              false
URxvt*geometry:                 65x17
URxvt.scrollBar:                false
URxvt*loginShell:               true
URxvt.internalBorder:           35
URxvt.perl-ext-common:          default,clipboard
URxvt.keysym.Shift-Control-C:   perl:clipboard:copy
URxvt.keysym.Shift-Control-V:   perl:clipboard:paste
URxvt.clipboard.autocopy:       true
URxvt.transparent:              false
URxvt.shading:                  20

! Colors
*background:   #373B3C
*foreground:   #D8DAD9
*cursorColor:  #AE3638
*pointerColor: #AE3638

*color0:      #33303b
*color8:      #4f4b58
*color1:      #ff5c57
*color9:      #ff5c57
*color2:      #5af78e
*color10:     #5af78e
*color3:      #f3f99d
*color11:     #f3f99d
*color4:      #57c7ff
*color12:     #57c7ff
*color5:      #ff6ac1
*color13:     #ff6ac1
*color6:      #9aedfe
*color14:     #9aedfe
*color7:      #eff0eb
*color15:     #eff0eb

! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.color-enabled: true
rofi.color-window: argb:d8373b3c, #d8dad9, #ae3638
rofi.color-normal: argb:00373b3c, #d8dad9, argb:00373b3c, #d8dad9, #202425
rofi.color-active: argb:00373b3c, #31a85b, argb:00373b3c, #d8dad9, #31a85b
rofi.color-urgent: argb:00373b3c, #ae3638, argb:00373b3c, #d8dad9, #ae3638
rofi.separator-style: solid
